
<header class="govuk-header no-context" role="banner">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link">
        <img src="/public/images/TPR-Logo-Header.svg" class="govuk-header__logo-image" alt="The Pension Regulator Logo"/>
      </a>
    </div>
    <div class="govuk-header__content govuk-header__navigation">
        <a href="/" class="govuk-header__link" style="font-size: 1rem;">
            Managing pension schemes
        </a>
    </div>
    <div class="govuk-header__content govuk-header__navigation">
      <nav>
        <span style="font-size: 1rem;">John Smith &nbsp;|&nbsp; </span>
        <a href="login_1.html" class="govuk-header__link">
          Sign out
        </a>
      </nav>
    </div>
  </div>
</header>

<!--
<div class="govuk-header" role="banner" style="background-color: #f1f1f1;padding-bottom: 0px;border-bottom: 0px; margin-bottom: 0px; margin-top: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px solid #ffffff; padding-top: 0px;margin-bottom: 0px;">
    <div style="background-color: #f1f1f1;margin-bottom: 0px;padding-left: 0px;">
      <nav style="padding-top:0.8em;padding-bottom: 0.9em;color: #000000;text-align: left;">
        <span style="font-size: 1rem;"><strong>North Star Limited</strong> &nbsp; <span style="color:#b1b4b6">|</span> &nbsp; PSR 10965738 &nbsp;
      </nav>
    </div>
  </div>
</div>
-->

{#<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="schemes_1.html">My schemes</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">PSR 10965738 - North Star Limited </a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        &nbsp;
      </li>
    </ol>
  </div>
</div> #}


 
